*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --darkblue:'#041121';
  --lightblue: '#0B2647';
  --yellow: '#A8943D';
  --lightgrey :'#F4F4F4';
  --white:'#fff';
}
.font-arrow{
  
}
.font-title{
  font-size: 4rem;
}
.font-para{ 
  font-size: 2rem;
}
.font-btn{
  font-size: 1rem;

}